.title{
    color: bisque;
    text-align: right;
    padding-right: 30px;
}

body{
    background-image: url(./assest/imgage/batman-nawpic-18-scaled.jpg);
    width: 500px;
    height: 500px;
}

.h2{
    color: bisque;
    text-align: right;
    padding-right: 30px;
}

.li1{
    color: aqua;
    font-size:30px;
    
}
.li2{
    color: aqua;
    font-size:30px;
}
.li3{
    color: aqua;
    font-size:30px;
}

.


